.create-event {
  width: 60vw;
  height: 93vh;
  padding: 10px;
  position: absolute;
  z-index: 1;
  & .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    & form {
      width: 100%;
      height: 90%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      color: var(--fontW);
      justify-content: space-between;
      & .requerimientos {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
      }
      & button {
        width: 125px;
      }
    }
    & h4 {
      margin: 10px;
      font-size: 30px;
      color: var(--fontW);
    }
    & .float-none {
      font-size: 15px;
      color: var(--fontW);
    }
  }
}
