* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #6b5cff;
  --secondary: #181e4b;
  --fontW: #fff;
  --fontB: #000;
}

.navbar {
  width: 100vw;
  height: 7vh;
}

.riwi-dark-bg {
  background-color: var(--secondary);
}

.hero {
  height: 93vh;
  width: 100vw;
  background-image: url("/static/heroBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 25% 35%;
  /* position: relative; */
  /* font-weight: 700; */
  /* border: 3px solid red; */
  /* background-attachment: fixed; */
  & .create-event {
    display: flex;
    justify-content: space-between !important;
    width: 55%;
    height: 98%;
    border-radius: 15px;
    background: rgb(255, 255, 255, 0.7);
    margin: 10px;
    & .form-event {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 15px;
      align-items: center;
      height: 95%;
    }
    & button {
      width: 250px;
    }
  }
}
