.hero {
  background-image: url(../static/uefa_champions_league_cup_101690_1920x1200.jpg);
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
  width: 100vw;
  gap: 15px;
  flex-wrap: wrap;
  & .cont_cards {
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    /* border: 0.1px solid red; */
    padding: 5px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    & .buttonsS {
      z-index: 2;
      width: 100%;
      & .btn {
        width: 30%;
      }
    }
  }
}
